/* .staffs_form {
    background-color: #94928e;
    margin: 50px;
    border: 10px solid aqua;
    border-radius: 50px;
} */
.reg_form {
    margin-left: 30%;
    margin-bottom: 30px;
    display: inline-block;
    display-content: center;
}
h1 {
    font-size: 50px;
    text-align: center;
}
.group_a{
    font-size: 20px;
}
.group_b{
    font-size: 20px;
}
.group_c{
    font-size: 20px;
}
/* .staff_pic {
    border: 1px dashed black;
    display-content: center;
    display: flex;
    position: absolute;
    top: 15%;
    left: 70%;
    border-radius: 40px;
    width: 250px;
    height: 231px;
} */
button{
  background-color: #04AA6D;
  border-radius:15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}