.performance_table{
    margin-left: 30%;
    padding: 30px;
    background-color: blueviolet;
    width: 550px;
    height: 190px;
    border-radius: 10px;
}
/* *{
    box-sizing: border-box;
} */
.pTitle{
    color: #3a798b;
}
.bar{
    background-color: rgb(121, 122, 138);
    width: 150%;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}
.bar_chart {
    height: 30%;
    width: 100%;
    background-color: rgb(99, 97, 97);
}
.skill{
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}
.history {width: 90%; background-color: #04AA6D;}
.econs {width: 80%; background-color: #f3f021;}
.geo {width: 55%; background-color: #f44336;}
tr{
    height: 50px;
    font-size: 19px;
}