/* .home{
    background-image: url(IMG-20210215-WA0009.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
} */

.home_row {
    display: flex;
    justify-content: space-between;
}