.student_form{
    margin-left: 25%;
    padding: 5px;
    border-radius: 30px;
    border-bottom: 2px solid #000;
    background-color: aquamarine;
}
.student_table > th{
    text-align: center;
    width: 260px;
}
