.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column flex-end;
    margin: 20px;
    padding:10px;
    width:50%;
    font-weight: bold;
    min-width: 100px;
    max-height:400px;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    z-index: 1;

    }

    .services > img {
        max-height: 200px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 15px;
    }

    .services_info {
        height: 100px;
        /* margin-bottom: 15px; */
    }

    .services > button {
        width: 50%;
        height: 70px;
        background: orange;
        font-weight: bold;
        font-size: 30px;
        border: 1px solid;
        margin-top: 10px;
        border-color: orange;
        color: black;
        cursor: pointer;
    }
    .service__s7{
        font-weight: bold;
        font-size: 50px;
        color: aqua;
    }
    .label{
        font-size: 20px;
        color: rgb(0, 0, 0);
    }