.tables {
    text-align: center;
    width: 0%;
    height: 50px;
    border-radius: 12px 12px 0px 0px;
    margin-left: 25%;
    font-size: 9px;
}
.t_header{
    background-color:#42d1f5;
    text-align: center;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}
/* td{
    word-wrap: break-word;
} */
.student_info {
    text-align:center;
}
/* tr{
    padding:15px;
    text-align: center;
} */
.code{
    border: 2px dashed rgb(211, 78, 78);
    color: rgb(218, 84, 84);
    margin-left: 700px;
    width: 170px;
}