.days{
    padding: 5px;
    border-bottom: 2px solid black;
    border-radius: 40px;
    width: 230px;
}
.timeTable{
    margin-left: 25%;
}
.subject{
    border-bottom: 2px solid black;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
}